<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Indoor-Analytics</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
  </head>
  <body>
    <div class="doc__bg"></div>
    <nav class="header">
      <h1 class="logo">Indoor-Analytics <span class="logo__thin">Doc</span></h1>
      <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <li class="menu__item"><a href="" class="link link--dark"><i class="fa fa-github"></i> Github</a></li>
        <li class="menu__item"><a href="index.html" class="link link--dark"><i class="fa fa-home"></i> Home</a></li>
      </ul>
    </nav>
    <div class="wrapper">
      <aside class="doc__nav">
        <ul>
          <!--Menu section-->
          <% var i = 0; json.data.forEach(function(f) { %>
            <% if(i == 0) {%> 
            <li class="js-btn selected">
                <%= f.name %>
            </li>
            <% }else{ %>
            <li class="js-btn ">
                <%= f.name %>
            </li>
          <% }i++;}); %>
        </ul>
      </aside>
      <article class="doc__content">
      <% json.data.forEach(function(f) { %>
        <section class="js-section">
          <!-- FONCTION -->
          <% if (f.fonction) { %> 
          <div class="doc__content__main">
            <!-- description section -->
            <h2 class="section__title"><%= f.name %></h2>
            <p><%= f.description %> </p>
            <!--Arguments section-->
            <% if(f.params != null){ %>
              <h3 class="section__title">Arguments</h3>
              <table>
                <thead>
                  <tr>
                    <th>Arguments</th>
                    <th>Type</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <% f.params.forEach(function(a) { %>
                  <tr>
                    <td><%= a.arg %></td>
                    <td>
                      <a target="_blank" href="https://tools.ietf.org/html/rfc7946#section-3.1.4">
                      <%= _.escape(a.type) %>
                      </a></td>
                    <td><%= a.description %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            <%}%>
            <!-- Options section -->
            <% if(f.options != null){ %>
              <h3 class="section__title">Options</h3>
              <table>
                <thead>
                  <tr>
                    <th>Prop</th>
                    <th>Type</th>
                    <th>Default</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <% f.params.forEach(function(a) { %>
                  <tr>
                    <td><%= a.arg %></td>
                    <td>
                      <a target="_blank" href="https://tools.ietf.org/html/rfc7946#section-3.1.4">
                      <%= _.escape(a.type) %>
                      </a></td>
                    <td><%= a.default %> </td>
                    <td><%= a.description %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            <%}%>
            <!-- return section-->
            <% if(f.return != null) {%> 
              <h3 class="section__title">Returns</h3>
              <%= f.return.type %> - <%= f.return.description %>
            <% } %> 
          </div>
          <!-- map Section-->
          <div class="doc__content__map">
            <% if(f.map) { %> 
              <div class="map" id="<%= f.name %>-map">
                <!-- MAP ENTRY POINT-->
              </div>
            <% } else { %>
              <div class="empty"></div>
            <% } %>
            <div class="npmBadge">
              npm i --save @indoor-analytics/<%= f.pname %> 
            </div>
          </div>
          <!-- example Section-->
          <% if(f.example != null) {%> 
            <div class="doc__content__example">
              <h3 class="section__title">Example</h3>
              <div >
                <pre >
                  <code class="code code--block">
                    <%=  require('./partials/examples/'+f.example+'.html').default %>
                  </code>
                </pre>
              </div>
            </div>
          <% } %> 
           <!-- Algorithme Factorization Section-->
           <% if(f.af != null) {%> 
            <div class="doc__content__example">
              <h3 class="section__title">Algorithm Formalization</h3>
              <div >
                  <%=  require('./partials/af/'+f.af+'.html').default %>
              </div>
            </div>
          <% } %>
        <% } else { %>
          <!-- CLASSE -->
          <div class="doc__content__main">
            <!-- description section -->
            <h2 class="section__title"><%= f.name %></h2>
            <p><%= f.description %> </p>
            <!--Constructor section-->
            <% if(f.constructor != null){ %>
              <h3 class="section__title">new <%= f.name %>(
                <% let i = 0; f.constructor.params.forEach(function(a){ %>
                  <% if(i == (f.constructor.params.length-1)){ %>
                     <%= a.arg %> 
                  <% } else {%>
                    <%= a.arg %>, 
                <% }i++;}); %>
              )</h3>
              <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <% f.constructor.params.forEach(function(a) { %>
                  <tr>
                    <td><%= a.arg %></td>
                    <td>
                      <%= _.escape(a.type) %>
                      </a></td>
                    <td><%= a.description %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            <%}%>
            <!--Members section-->
            <% if(f.members != null){ %>
              <h3 class="section__title">Members</h3>
              <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <% f.members.forEach(function(a) { %>
                  <tr>
                    <td><%= a.name %></td>
                    <td>
                      <%= _.escape(a.type) %>
                      </a></td>
                    <td><%= a.description %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            <%}%>
            <!--Methods section-->
            <% if(f.methods != null){ %>
              <h3 class="section__title">Methods</h3>
              <table>
                <thead>
                  <tr>
                    <th>Name</th>
                  </tr>
                </thead>
                <tbody>
                  <% f.methods.forEach(function(a) { %>
                  <tr>
                    <td><%= a.name %></td>
                    <td>
                      <%= _.escape(a.type) %>
                      </a></td>
                    <td><%= a.description %></td>
                  </tr>
                  <% }); %>
                </tbody>
              </table>
            <%}%>
          </div>
          <!-- map Section-->
          <div class="doc__content__map">
            <% if(f.map) { %> 
              <div class="map" id="<%= f.name %>-map">
                <!-- MAP ENTRY POINT-->
              </div>
            <% } else { %>
              <div class="empty"></div>
            <% } %>
            <div class="npmBadge">
              npm i --save @indoor-analytics/<%= f.pname %> 
            </div>
          </div>
          <!-- example Section-->
          <% if(f.example != null) {%> 
            <div class="doc__content__example">
              <h3 class="section__title">Example</h3>
              <div >
                <pre >
                  <code class="code code--block">
                    <%=  require('./partials/examples/'+f.example+'.html').default %>
                  </code>
                </pre>
              </div>
            </div>
          <% } %> 
           <!-- Algorithme Factorization Section-->
           <% if(f.af != null) {%> 
            <div class="doc__content__example">
              <h3 class="section__title">Algorithm Formalization</h3>
              <div >
                  <%=  require('./partials/af/'+f.af+'.html').default %>
              </div>
            </div>
          <% } %>
        <% } %> 
        </section>
        <% }); %>
      </article>
    </div>
  </body>
</html>