<!doctype html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Indoor Analytics</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
  </head>
  <body>
    <nav>
      <div class="logo"></div>
      <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <li class="menu__item"><a href="doc.html" class="link link--dark"><i class="fa fa-book"></i> Documentation</a></li>
        <li class="menu__item"><a href="" class="link link--dark"><i class="fa fa-github"></i> Github</a></li>
      </ul>
    </nav>
    <div class="map">
      <h1 class="map__title">Indoor-Analytics</h1>
    </div>
    <div class="map__mapbox" id="pathDistance-map">
      <!-- ENTRYPOINT MAP HERE-->
      <div id="map_menu">
        <div id="map_name"><%= json.data[0].name %></div>
      </div>
    </div>
    <div class="wrapper">
      <div class="installation">
        <h3 class="section__title">Installation</h3>
        <div class="tab__container">
          <ul class="tab__menu">
            <!-- Tab section for each package -->
            <% var i = 0; json.data.forEach(function(f) { %>
            <% if(i == 0) {%> 
              <li class="tab active" data-tab="<%= f.name %>"><%= f.name %></li>
            <% }else{ %>
              <li class="tab" data-tab="<%= f.name %>"><%= f.name %></li>
            <% }i++;}); %>
          </ul>
          <!-- content of each tab-->
          <pre class="nohighlight code">
            <% var i = 0; json.data.forEach(function(f) {%>
            <% if(i == 0) {%> 
              <code class="tab__pane active <%= f.name %>">$  npm i --save @indoor-analytics/<%= f.pname%></code>
            <% }else{ %>
              <code class="tab__pane <%= f.name %>">$  npm i --save @indoor-analytics/<%= f.pname%></code>
            <% } %>
            <% i++;}); %>
          </pre>
        </div>
      </div>
      <!-- Feature Zone, one foreach function-->
      <div class="feature">
        <% json.data.forEach(function(f) { %>
        <div class="feature__item">
          <h3 class="section__title"><%= f.name %></h3>
          <p><%= f.description %></p>
        </div>
        <% }); %>
      </div>
      <hr>
      <div class="callout">
        <p>Read our documentation for more details</p>
        <a href="doc.html" class="button--primary">Documentation</a>
      </div>
    </div>
  </body>
</html>